.c-link:hover {
  text-decoration: underline;
}

.fw-medium {
  font-weight: 600;
}
footer {
  background-color: #e5e5e5;
  color: #404040;
  padding: 3rem;
  //   position: fixed;
  z-index: 9999;
  text-align: center;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
